[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
create-venv = "bash -c \"export PIPENV_VENV_IN_PROJECT=true && pipenv --python 3.10\""
delete-venv = "pipenv --rm"
sync = "bash -c \"export PIPENV_VENV_IN_PROJECT=true && pipenv sync --dev\""
start = "uvicorn main:app --reload"
test = "pytest -s tests/unit-test"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
autopep8 = "*"
pytest = "*"
httpx = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.7"
